/* src/LoadingOverlay.css */
.loading-overlay {
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: rgba(0, 0, 0, 0.5); /* Fondo semi-transparente */
 display: flex;
 justify-content: center;
 align-items: center;
 z-index: 1000; /* Asegurarse de que el overlay esté por encima de todo el contenido */
}

.loading-content {
 text-align: center;
 color: #fff;
}

.loading-icon {
 width: 200px; /* Ajusta el tamaño del icono según tus necesidades */
 height: 200px;
 margin-bottom: 20px;
}
